<head>
  <title>food</title>
</head>

<body>
	<div class="jumbotron">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					{{> login}}
					<h2><span class="fa fa-shop"></span>Restaurants</h2>
				</div>
			</div>

			<div class="row">
				<div class="col-md-12">
					<button class="btn btn-default add">
						<span class="fa fa-plus"></span>&nbsp;&nbsp;Create New Restaurant
					</button>

					<button class="btn btn-success order">
						<span class="fa fa-shopping-cart"></span>&nbsp;&nbsp;Order Now
					</button>
				</div>
			</div>
		</div>
	</div>

	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h4><span class="fa fa-list"></span>&nbsp;&nbsp;Restaurants List</h4>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<table class="table table-striped">
					<thead>
						<tr>
							<td><b>Name</b></td>
							<td><b>Phone</b></td>
							<td><b>Address</b></td>
						</tr>
					</thead>
			  		<tbody>
			  			{{#each restaurants}}
			  			<tr>
			  				<td>{{> restaurant}}</td>
			  				<td>{{> phone}}</td>
			  				<td>{{> address}}</td>
			  				<td class="text-right">
			  					{{> actions}}
			  				</td>
			  			</tr>
			  			{{/each}}
			  		</tbody>
			  	</table>
			</div>
		</div>
	</div>
</body>

<template name="restaurant">
  {{name}}
</template>

<template name="phone">
  {{phone}}
</template>

<template name="address">
  {{address}}
</template>

<template name="actions">
	<button class="btn btn-primary viewOrders" data-toggle="tooltip" data-placement="top" title="View Orders">
		<span class="fa fa-th-list"></span>
	</button>

	<button class="btn btn-default edit" data-toggle="tooltip" data-placement="top" title="Edit">
		<span class="fa fa-pencil"></span>
	</button>
	
	<button class="btn btn-danger delete" data-toggle="tooltip" data-placement="top" title="Delete">
		<span class="fa fa-trash"></span>
	</button>
</template>

<template name="login">
    {{#if currentUser}}
    	<ul class="list-inline vaT">
    		<li>
    			<img src="http://graph.facebook.com/{{currentUser.services.facebook.id}}/picture/?type=small">
    		</li>

    		<li>
    			<h5 class="marTop0">Welcome {{currentUser.services.facebook.name}}</h5>
    			<button class="btn btn-danger btn-sm" id="logout">Logout</button>
    		</li>
    	</ul>
    {{else}}
        <button id="facebook-login" class="btn btn-primary"> <span class="fa fa-facebook"></span>&nbsp;&nbsp;Login with Facebook</button>
    {{/if}}
</template>
